@media (max-width:320px) {
  .div {
    flex-direction: column;
  }

  .btn {
    margin-top: 16px;
  }

  * {
    font-size: 11px;
  }
}

@media (max-width:480px) {
  .div {
    flex-direction: column;
  }

  .btn {
    margin-top: 16px;
  }

  * {
    font-size: 11px;
  }
}